.root{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1::after{
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../../../public/img/empty_smiles.png");
    position: absolute;
  }
}