body {
  margin: 0;
  font-family: "Proxima Nova Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

a{
  text-decoration: none;
  color: currentColor;
}


ul{
  padding: 0;
  list-style-type: none;}

h2, p {
  margin: 0;
}

.wrapper {
  padding: 49px 38px 96px 67px;
  background-color: rgba(255, 255, 255, 1);

  header {
    margin-bottom: 40px;
    @media (max-width: 550px) {
      flex-direction: column;
      gap: 10px;
    }

    .header_right {
      box-sizing: border-box;
      width: 150px;
      height: 50px;
      background: #FE5F1E;
      border-radius: 30px;
      padding: 15px 19px 16px 23px;

      p {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
      }

      p:first-child {
        border-right: 1px solid rgba(255, 255, 255, 0.25);
        padding-right: 10px;
        margin-right: 5px;
      }

      p:last-child {
        background-image: url("../public/img/cart_icon.png");
        padding-left: 25px;
        background-repeat: no-repeat;
      }
    }
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(246, 246, 246, 1);
    .header_left {
      p{font-weight: 400;
        color: #7B7B7B;
      }
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media (max-width:993px ) {
      flex-direction: column-reverse;
    }
    .navbar_left{
        padding: 0;
        @media (max-width:950px ) {
          max-width: 445px;
          overflow: scroll;
      }
        .active{
          background: black;
          color: white;
        }
        li{
          margin-right: 6px;
          font-style: normal;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.015em;
          color: black;
          padding: 13px 40px 16px;
          background: #F9F9F9;
          border-radius: 30px;
        }
      }

    .select_button{
      position: relative;
      img{
        left: 1px;
        top:1px;
        transition: transform 0.5s ease-in-out;
      }
      .active_img{
        transform: rotate(180deg);
        transition: transform 0.5s ease-in-out;
      }
      button{
        background: none;
        border: none;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.015em;
        color: #2C2C2C;
        span{
          letter-spacing: 0.015em;
          color: #FE5F1E;
          border-bottom: 1px dashed #FE5F1E;
        }

      }
      ul{
        box-sizing: border-box;
        position: absolute;
        width: 135px;
        height: 136px;
        text-align: right;
        right: 1px;
        top: 10px;
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: center;
        li{
          padding: 5px;
          flex: 1;
        }
        .chosenSearch{
          color: rgba(254, 95, 30, 1) ;
        }

      }

    }
  }

  .content{
    h1{
      font-weight: 700;
      font-size: 32px;
      color: #000000;
    }
    .pizza_items{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 0;

      @media (max-width: 1250px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 990px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 665px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .pizza_item{
        min-width: 280px;
        display: flex;
        flex-direction: column;
        margin-bottom: 65px;

        img{
          margin:0px auto 11px
        }
        h3{
          margin: 0;
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.01em;
          color: #000000;
          margin-bottom: 22px;
        }
        .pizza_info{
          box-sizing: border-box;
          background: #F3F3F3;
          border-radius: 10px;
          padding: 7px;

          .active{
            background: white;
            transition: background 0.5s ease-in-out;
          }

          ul{
            display: flex;

            cursor: pointer;
            li{
              text-align: center;
              padding: 8px;
              flex: 1;
              border-radius: 30px;
              transition: background 0.5s ease-in-out;
            }
          }
        }
        .pizza_item_bottom{
          p{
            font-size: 22px;
          }
          button{
            width: 155px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #EB5A1E;
            border-radius: 30px;
            font-weight: 700;
            color: #EB5A1E;
            position: relative;
            &::before{
              content: "";
              position: absolute;
              width: 12px;
              height: 12px;
              background-image: url("../public/img/add_pizza_plus.svg");
              background-repeat: no-repeat;
              left: 25px;
              top: 13px;
            }


            &::after{
              position: absolute;
              content: "";
              width: 22px;
              height: 22px;
              background: rgba(235, 90, 30, 1);
              color: rgba(255, 255, 255, 1);
              display: inline-block;
              border-radius: 50%;
              right: 12px;
              top: 8px;
            }
            span{
              position: absolute;
              z-index: 2;
              margin-left: 15px;
              color: white;
            }


          }
        }
      }
    }
  }

}


